/* Main Container */
body {
    background-image: url("images/aPattern1.jpg");
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
}
/* __________________________________________________________________________________________________________________________________________________________ */
/* Right Container */
main {
    flex: 5;
}
div.map{
    /*width: 70%;*/
    display:grid;
    grid-auto-flow:column;
    grid-template-columns: .75fr .25fr;
    
}
div.text{
    /*width: 10%;*/
    
}
div.map iframe{
   /* width:20vw;*/
   object-fit:contain;
   width: 20vw;
}
svg.imageMap{
    /*max-width:70vw;*/
    object-fit:contain;
    width:100%;
}
/* __________________________________________________________________________________________________________________________________________________________ */
/* Left Container */
.navbar {
    background-color: #B4DFFE;
    /*transition: 200ms ease;*/
    flex: 1;
}

figure{
    width: 80%;
}
navbar figure img{
    max-width:20px;
}
/* __________________________________________________________________________________________________________________________________________________________ */
/* for scroll bar */
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #B4DFFE;
}
/* __________________________________________________________________________________________________________________________________________________________ */   
/* Image tom-foolery */

section {background: powderblue;}

  
p {float: right;
  max-width:500px;
  width:50%;
  display: block;
  margin-right: 230px;
  text-align: justify;
  line-height: 1.5;}

h1 {
    background-color: #B4DFFE;
}
 
h3 {float: right;
  max-width:500px;
  width:50%;
  display: block;
  margin-right: 230px;
  text-align: justify;
  line-height: 1.5;}

.about-descript {text-align: center;
    margin-left: 14rem;
    margin-right:14rem;
    background-color: #B4DFFE;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 1400px;}

.text {text-align: center;
    background-color: #B4DFFE;
    margin-left: 14rem;
    margin-right:14rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 250px;}

.about-heading h1{
    text-align: center;
}















